.custom-shape-divider-bottom-1718915441 {
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1718915441 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 225px;
  }
  
  .custom-shape-divider-bottom-1718915441 .shape-fill {
    fill: #ffffff;
  }