@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:wght@400;600&display=swap');

.wrapper{
    padding-top:7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 240, 255);
}

.wrapper h1 {
    font-family: Permanent Marker, Work Sans, sans-serif;
    font-size: 2.75rem;
    margin-bottom: 2vh;
    background-color: #005AA4;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
}

.cv-desc{
    max-width: 40vw;
    font-size: 1.25rem;
}

.cv-content{
    display:flex;
    flex-direction: column;
    gap:2.5vh;
}

.cv-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2vw;
    position: relative;
}

/* Left column: date */
.cv-date {
    width: 15vw;
    text-align: right;
    color: #878787;
    font-family: 'Work Sans', sans-serif;
    padding-top:1vh;
}

/* Middle column: vertical line */
.cv-line {
    position: relative;
    width: 0.1vw;
    height:15vh;
    background-color: #ccc;
    margin-top:2.5vh;
}

/* Circle (the "ball thingy") */
.cv-dot {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 50%;
    z-index: 1;
}

/* Right column: job details */
.cv-description {
    font-family: 'Work Sans', sans-serif;
    padding-top:1vh;
}

.cv-description h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.1vh;
}

.cv-description p {
    margin-top:0.05vh;
}

.description-location{
    color: #6e6e6e;
}

.headline-section{
    display:flex;
    justify-content: center;
    margin-top:5vh;
    background-color: #005AA4;
    font-family: Permanent Marker,Work Sans,sans-serif;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 1.25rem;
    color: white;
}