.content {
  background-color: rgb(193, 240, 255);
  width: 100vw;
  height:100vh;
}

.content-display {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
  position:relative;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.left-column h1 {
  margin-top: 1vh;
  font-size: 9vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 0;
}
.left-column h2 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #002776;
  letter-spacing: 3px;
}

.left-column p {
  margin-top: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-bottom: 3vh;
  font-size: 17px;
  opacity: 0.7;
}

.contactButton {
  display: inline-flex; /* Enable Flexbox for the button */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border-radius: 50px;
  max-width: 180px;
  width: 100%;
  height: 50px;
  background-color: #002776;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.contactButtonImage {
  margin-left: 8px; /* Add space between the text and image */
  width: 20px;
  height: auto;
}

.contactButton:hover {
  background-color: #0053cf;
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.contactButton:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.contactButton:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 39, 118, 0.4);
}

.right-column {
  position:relative;
  width: 40vw;
  height:40vh;
}

.right-column img {
  width: 38vw;
  height: auto;
  position: static;
  z-index: 3;
}

.topLeftThingy{
    position:absolute;
    top:40%;
    left:5vh;
    z-index: 4;
    background-color: white;
    width:10vw;
    height: 5vh;
    border-radius: 10px;
    display:flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.midRightThingy{
    position: absolute;
    top:70%;
    left:35vw;
    background-color: white;
    height:5vh;
    border-radius: 10px;
    display:flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.bottomLeftThingy{
    position: absolute;
    top:130%;
    left:20%;
    background-color: white;
    height:5vh;
    border-radius: 10px;
    display:flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.custom-shape-divider-bottom-1718915441 {
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718915441 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 225px;
}

.custom-shape-divider-bottom-1718915441 .shape-fill {
  fill: #ffffff;
}

.body h2 {
  margin-top: 5px;
}

.about {
  margin-top: 20vh;
  padding-bottom: 5vh;
  padding-top: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
.about h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  font-style: italic;
  color: #002776;
}
.about-content {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.left-about {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.left-about h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  color: #002776;
}

.faqList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
}

.faqList li span{
    display: inline-block;
    background-color: rgb(193, 240, 255);
    padding: 10px;
    color: #002776;
}