.navbar {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.upperWave{
    position: absolute;
    z-index: 1;
    top:60px;
    width: 100vw;
}

.logo-img {
  margin-left: 80px;
  height: auto;
  width: 200px;
    z-index: 2;
}

.links {
  margin-right: 140px;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
}

.links a {
  position: relative; /* Needed for the pseudo-element positioning */
  text-decoration: none;
  color: rgba(0, 0, 0, 0.603);
  font-weight: normal;
  font-size: 22px;
  padding-bottom: 5px;
  height: 27px;
  z-index: 2;
}

.links a.active {
  font-weight: bolder; /* Make the active link bold */
  color: #000000;
}

.links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffa500;
  transition: width 0.3s ease, left 0.3s ease;
}

.links a:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.links a:hover {
  color: #ffa500;
  transition: 0.2s;
}
